# Data
/data/**
!/data/**/
!/data/mothur/raw/**

# Logs
/logs/**

# Track all READMEs
!README.md

# Snakemake
.snakemake/**

# R files
.Rproj.user
.Rhistory
.RData
.Rprofile

# Misc files
*.zip
*.docx

# General
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

